* {
    box-sizing: border-box;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Khula', sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-transform: initial;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 15px;
    color: #002657;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #002657;
    font-family: "Titillium web";
    font-weight: 400;
    line-height: 1.2;
}

a {
    margin-bottom: 0
}

h1 {
    font-size: 59px;
    color: #002657;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p,
li {
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
    font-weight: normal
}

.align-center {
    text-align: center;
}

.d-none {
    display: none !important;
}

.keypad-tutorial-sec {
    background: #E2F1F6;
    padding: 108px 0 127px;
}

.keypad-tutorial-sec .keypad-tutorial-box {
    background-color: #fff;
    overflow: auto;
    border-top: 2px solid #FFC200;

    box-shadow: 0 2px 15px 0 #CECECE;
}

.keypad-tutorial-sec .section-heading {
    margin: 56px 0;
}

.keypad-tutorial-sec .section-heading h1 {
    text-align: center;
    line-height: 1.49;
}

.three-col-outer-layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background: #103745;
    margin: 30px 129px 149px 126px;
    padding: 15px 40px;
}


.three-col-outer-layer .left-col {
    -ms-flex-preferred-size: 51%;
    flex-basis: 51%;
    margin-right: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: linear-gradient(180deg, lightblue, transparent);
}

.three-col-outer-layer .center-col {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 15px 7px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #c5c5c5, #fff);
    min-height: 530px;
}

.three-col-outer-layer .right-col {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    text-align: right;
    background: linear-gradient(180deg, lightblue, transparent);
    padding: 15px;
}

/*============== Left col =================*/

/* step keypad show and hide */
.three-col-outer-layer .left-col .keypad-step {
    display: none;
}

.three-col-outer-layer .left-col .keypad-step.current {
    display: block;
}

.three-col-outer-layer .left-col .keypad-box {
    background: url(https://f.hubspotusercontent00.net/hubfs/2432204/Brown-keypad-tutorial-assets/Images/Brown-keypad-bg.png) no-repeat;
    padding: 43px 15px 37px 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: contain;
}

.three-col-outer-layer .left-col .keypad-left-col {
    width: 53.1%;
    float: left;
    position: relative;
}

.three-col-outer-layer .gray-borders img {
    max-width: 134px;
}

.three-col-outer-layer .left-col .keypad-right-col {
    width: 47.9%;

}

/* Display Status */

.three-col-outer-layer .left-col .display-status img {
    max-width: 200px;
    float: right;
    margin-right: -1px;
}




/* Keys styling starts here */
.three-col-outer-layer .left-col .keys {
    background-color: #491c1b;
    padding: 5px 4px 3px 5px;
}

.three-col-outer-layer .left-col .keys ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.three-col-outer-layer .left-col .keys ul li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 5px;
    margin-top: 10px;
}

.three-col-outer-layer .left-col .keys ul li img {
    max-width: 49px;
    vertical-align: middle;
}



.three-col-outer-layer .left-col .keys ul li:nth-child(3n+1) {
    margin-left: 0;
}

.three-col-outer-layer .left-col .keys ul.number-keys li:last-child {
    margin-left: 13px;
}

.three-col-outer-layer .left-col .keys ul.number-keys li:last-child img {
    max-width: 100px;
}

.three-col-outer-layer .left-col .keys ul li span {
    position: absolute;
    color: #fff;
    font-size: 9px;
    left: 0;
    right: 0;
    text-align: center;
    top: -9px;
}

.three-col-outer-layer .left-col .keys ul li i {
    position: absolute;
    color: #fff;
    font-size: 11px;
    left: 0;
    right: 0;
    text-align: center;
    top: -12px;
}

.three-col-outer-layer .left-col .keys ul.menu-keys li img {
    max-width: 31px;
}


.three-col-outer-layer .left-col .keys ul.menu-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.playing {
    cursor: pointer;
}

.three-col-outer-layer .left-col .dga-logo img {
    max-width: 178px;
    width: 100%;
}

.three-col-outer-layer .gray-borders {
    position: absolute;
    bottom: 13px;
}


/*============== Center col =================*/


.three-col-outer-layer .center-col .demo-content {
    display: none;
}

.three-col-outer-layer .center-col .demo-content.current {
    display: inherit;
}

.three-col-outer-layer .center-col p {
    color: #000;
    font-size: 14px;
    margin-bottom: 8px;
}

.three-col-outer-layer .center-col li {
    font-size: 14px;
    margin-bottom: 8px;
}


.three-col-outer-layer .center-col .heading {
    padding: 0 0 15px;
    position: relative;
}

.three-col-outer-layer .center-col .heading:before {
    position: absolute;
    content: '';
    width: 120%;
    left: 0;
    height: 1px;
    background: #000;
    left: -15px;
    bottom: 0;
}

.three-col-outer-layer .center-col .description {
    padding: 10px 0 0;
}





.three-col-outer-layer .center-col h4 {
    color: #ffffff;
    font-weight: 500;
    margin: 0;
    text-shadow: 1px 1px 4px black;
    font-size: 18px;
}

.three-col-outer-layer .center-col button {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.three-col-outer-layer .center-col .btn img {
    max-width: 138px;
    cursor: pointer;
}

.three-col-outer-layer .center-col .btn {
    text-align: center;
    padding: 10px 0 43px;
}

.three-col-outer-layer .replay {
    background: #cacaca;
    padding: 16px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    min-height: 56px;
}


.three-col-outer-layer .replay p {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

/* list items */
.three-col-outer-layer .center-col ol {
    margin: 0;
    padding: 0;
    margin: 3px 0 0 15px;
}

.three-col-outer-layer .center-col .btn {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
}

.three-col-outer-layer .center-col .demo-content[data-filter=".step1"] .btn,
.three-col-outer-layer .center-col .demo-content[data-filter=".step2"] .btn,
.three-col-outer-layer .center-col .demo-content[data-filter=".step3"] li:nth-child(n+2),
.three-col-outer-layer .center-col .demo-content[data-filter=".step3"] .btn img,
.three-col-outer-layer .center-col .demo-content[data-filter=".step3"] .description ol p,
.three-col-outer-layer .center-col .demo-content[data-filter=".step4"] ol li,
.three-col-outer-layer .center-col .demo-content[data-filter=".step4"] .description .next-slide-txt,
.three-col-outer-layer .center-col .demo-content[data-filter=".step4"] .btn img,
.three-col-outer-layer .center-col .demo-content[data-filter=".step6"] .description ol li:nth-child(n+2),
.three-col-outer-layer .center-col .demo-content[data-filter=".step6"] .description ol .step6-next-sec-div,
.three-col-outer-layer .center-col .demo-content[data-filter=".step6"] .btn img,
.three-col-outer-layer .center-col .demo-content[data-filter=".step7"] ol li.step7-list2,
.three-col-outer-layer .center-col .demo-content[data-filter=".step7"] ol p.step7-watch-mode-txt,
.three-col-outer-layer .center-col .demo-content[data-filter=".step7"] ol p.step7-watch-mode-bold,
.three-col-outer-layer .center-col .demo-content[data-filter=".step7"] ol p.step7-next-sec-tex,
.three-col-outer-layer .center-col .demo-content[data-filter=".step7"] .btn img {
    display: none;
}


.three-col-outer-layer .center-col.bottom-btn .demo-content[data-filter=".step6"] .btn,
.three-col-outer-layer .center-col.bottom-btn .demo-content[data-filter=".step7"] .btn {
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
}


.three-col-outer-layer .center-col .demo-content li.no-list-style,
.three-col-outer-layer .center-col .demo-content li.no-list-style {
    list-style: none;
    text-indent: -9px;
}

.three-col-outer-layer .center-col .demo-content li.no-list-style span,
.three-col-outer-layer .center-col .demo-content li.no-list-style span {
    position: relative;
    left: -6px;
}

.three-col-outer-layer .center-col .demo-content[data-filter=".step6"] .next-btn-help-txt {
    padding-top: 7px;
}

.three-col-outer-layer .center-col .demo-content ol p img,
.three-col-outer-layer .center-col .demo-content ol li img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}


.three-col-outer-layer .center-col .demo-content[data-filter=".step6"] .heading,
.three-col-outer-layer .center-col .demo-content[data-filter=".step7"] .heading,
.three-col-outer-layer .center-col .demo-content[data-filter=".step8"] .heading {
    padding-bottom: 10px;
}

/*============== Right col =================*/


.three-col-outer-layer .tabber-sec p,
.three-col-outer-layer .tabber-sec ul li {
    font-weight: 600;
    color: #fff;
}

.three-col-outer-layer .tabber-sec ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.three-col-outer-layer .tabber-sec ul li {
    border-bottom: 1px solid #fff;
    min-height: 36px;
    padding: 10px 6px 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 14px;
}


.three-col-outer-layer .tabber-sec ul li.current {
    color: rgb(255 255 255 / 0.5);
}





@media (min-width: 1025px) and (max-width:1199px) {
    .three-col-outer-layer {
        margin: 30px 100px 149px;
    }

    .three-col-outer-layer .left-col .keypad-box {
        padding: 44px 25px 48px;
        background-size: 100% 100%;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .three-col-outer-layer .left-col .keys ul li img {
        max-width: 42px;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li:last-child img {
        max-width: 81px;
    }

    .three-col-outer-layer .left-col .keys ul li {
        margin-left: 4px;
    }

    .three-col-outer-layer .left-col .dga-logo img {
        max-width: 186px;
    }

    .three-col-outer-layer .left-col .keys ul.menu-keys li img {
        max-width: 28px;
    }

    .three-col-outer-layer .left-col .display-status img {
        width: 100%;
    }
}

@media (min-width: 1100px) and (max-width:1199px) {
    .three-col-outer-layer .left-col .keys ul.menu-keys li img {
        max-width: 30px;
    }

    .three-col-outer-layer .left-col .keys ul li img {
        max-width: 49px;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li:last-child img {
        max-width: 95px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .three-col-outer-layer {
        margin: 25px;
        padding: 10px;
    }

    .three-col-outer-layer .left-col .keypad-box {
        padding: 20px;
        background-position: center center;
        background-size: cover;

    }

    .three-col-outer-layer .left-col .keypad-right-col .keypad {
        max-width: 170px;

    }

    .three-col-outer-layer .left-col .display-status img {
        max-width: inherit;
        width: 100%;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li img {
        max-width: 39px;
    }

    .three-col-outer-layer .left-col .keys ul.menu-keys li img {
        max-width: 26px;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li:last-child img {
        max-width: 77px;
    }

    .three-col-outer-layer .gray-borders img {
        max-width: 110px;
    }

    .three-col-outer-layer .left-col .keys ul li i {
        font-size: 9px;
        top: -10px;
    }

    .three-col-outer-layer .right-col {
        padding: 10px;
    }

    .three-col-outer-layer .left-col .keys ul {
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .three-col-outer-layer .center-col .btn img {
        max-width: 125px;
    }

    .three-col-outer-layer .center-col p {
        margin-bottom: 5px;
    }

    .keypad-tutorial-sec .section-heading h1 {
        font-size: 56px;
    }
}

@media (max-width: 767px) {

    .three-col-outer-layer {
        margin: 1px;
        padding: 4px;
        overflow: auto;
    }

    .three-col-outer-layer .left-col .keypad-box {
        padding: 20px 10px;
        background-position: center center;
        background-size: cover;

    }

    .three-col-outer-layer .center-col h4 br {
        display: none;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .three-col-outer-layer .left-col .display-status img {
        max-width: inherit;
        width: 100%;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li img {
        max-width: 34px;
    }

    .three-col-outer-layer .left-col .keys ul.menu-keys li img {
        max-width: 24px;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li:last-child img {
        max-width: 70px;
    }

    .three-col-outer-layer .left-col .keys ul.number-keys li:last-child {
        margin-left: 0;
    }

    .three-col-outer-layer .gray-borders img {
        max-width: 80px;
    }

    .three-col-outer-layer .left-col .keys ul li span {
        font-size: 8px;
        top: -8px;
    }

    .three-col-outer-layer .right-col {
        padding: 10px;
    }

    .three-col-outer-layer .left-col .keys ul li {
        margin-left: 2px;
        margin-top: 6px;
    }

    .three-col-outer-layer .left-col .keys ul li i {
        font-size: 8px;
        top: -8px;
    }


    .three-col-outer-layer .center-col .btn img {
        max-width: 105px;
    }


    .three-col-outer-layer .center-col {
        overflow: visible;
    }


    .three-col-outer-layer .center-col .heading:before {
        left: -7px;
        width: 110%;
    }

    .three-col-outer-layer .left-col .keypad-right-col .keypad {
        max-width: 130px;

    }

    .three-col-outer-layer .replay p {
        font-size: 15px;
    }

    .keypad-tutorial-sec .section-heading h1 {
        font-size: 40px;
    }
}

@media(max-width: 576px) {
    .three-col-outer-layer {
        width: 523px;
    }

}