body
{
    font-family: arial;
}
/* Sets the background image for the wheel */
.the_wheel
{
    background: url(./wheel_back.png) no-repeat center;
}


div.html5_logo
{
    margin-left:70px;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}