* {
    box-sizing: border-box;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Khula', sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-transform: initial;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 15px;
    color: #002657;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #002657;
    font-family: "Titillium web";
    font-weight: 400;
    line-height: 1.2;
}

a {
    margin-bottom: 0
}

h1 {
    font-size: 59px;
    color: #002657;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p,
li {
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
    font-weight: normal
}

.align-center {
    text-align: center;
}

.d-none {
    display: none !important;
}

.keypad-tutorial-sec {
    background: #E2F1F6;
    padding: 108px 0 127px;
}

.keypad-tutorial-sec .keypad-tutorial-box {
    background-color: #fff;
    overflow: auto;
    border-top: 2px solid #FFC200;

    box-shadow: 0 2px 15px 0 #CECECE;
}

.keypad-tutorial-sec .section-heading {
    margin: 56px 0;
}

.keypad-tutorial-sec .section-heading h1 {
    text-align: center;
    line-height: 1.49;
}

.three-col-outer-layer {
    display: flex;
    align-items: stretch;
    background: #103745;
    margin: 30px 129px 149px 126px;
    padding: 15px 40px;
}


.three-col-outer-layer .left-col {
    flex-basis: 60%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    background: url(./Assets/images/Original-blue-background.png) no-repeat center center /cover;
    background: linear-gradient(180deg, lightblue, transparent);
}

.three-col-outer-layer .center-col {
    flex-basis: 30%;
    padding: 15px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #c5c5c5, #fff);
}

.three-col-outer-layer .right-col {
    flex-basis: 25%;
    text-align: right;
    background: linear-gradient(180deg, lightblue, transparent);
    padding: 15px;
}

/*============== Left col =================*/
/* keypad1 */
.three-col-outer-layer .left-col .keypad1 img,
.three-col-outer-layer .left-col .keypad2 img {
    max-width: 418px;
}

/* step keypad show and hide */
.three-col-outer-layer .left-col .keypad-step {
    display: none;
}

.three-col-outer-layer .left-col .keypad-step.current {
    display: block;
}

.three-col-outer-layer .left-col .keypad-box {
    background: #fff;
    padding: 40px 30px;
    display: flex;
}

.three-col-outer-layer .left-col .keypad-left-col {
    width: 40%;
    float: left;
    position: relative;
}

.three-col-outer-layer .left-col .indicator .light {
    width: 27px;
    height: 14px;
    display: inline-block;
    background: #d4d6c3;
    border-radius: 3px;
    margin-right: 5px;
}

.three-col-outer-layer .left-col .indicator .light.green {
    background: #00ff00;
}

.three-col-outer-layer .left-col .indicator .light.red {
    background: red;
}

.three-col-outer-layer .left-col .indicator span {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 4px black;
    vertical-align: middle;
    line-height: 1;
    font-weight: 500;
}

.three-col-outer-layer .left-col .indicator {
    padding: 0 0 7px;
}

.three-col-outer-layer .left-col .keypad-right-col {
    width: 55%;
    float: left;

}

/* DGA Logo */
.three-col-outer-layer .left-col .logo {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.three-col-outer-layer .left-col .logo h2 {
    display: inline-block;
    margin: 0;
    border: 1px solid #000;
    font-weight: 700;
    font-size: 41px;
    line-height: 1;
    padding: 0 4px;
    color: #0065a4;
    height: 52px;
    vertical-align: middle;
    padding-top: 4px;
}

/* Keys styling starts here */

.three-col-outer-layer .left-col .keys ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.three-col-outer-layer .left-col .keys ul.top-keys li:not(:first-child) {
    margin-left: 9px;
}

.three-col-outer-layer .left-col .keys ul.bottom-keys li:nth-child(4n+1) {
    margin-left: 0;
}

.three-col-outer-layer .left-col .keys ul.bottom-keys li {
    margin-left: 7px;
    margin-bottom: 12px;

}

.three-col-outer-layer .left-col .keys ul li {
    /* width: 35px;
    height: 21px;
    background: #d4d6c3;
    border-radius: 50%; */
    display: inline-block;
    max-height: 20px;
    vertical-align: middle;
}

.three-col-outer-layer .left-col .keys ul li img {
    max-width: 40px;
    vertical-align: middle;
}

.three-col-outer-layer .left-col .outline-btn img {
    max-width: 137px;
    margin: 0 auto;
    display: block;
}

.three-col-outer-layer .left-col .outline-btn {
    margin: 0 0 12px;
}

.three-col-outer-layer .left-col .keys .top-keys {
    margin: 10px 0 0;
}

/* bottom keys */


/* .three-col-outer-layer .left-col .keys ul li kbd {
    display: block;
    font-weight: 600;
} */

.three-col-outer-layer .left-col .keys ul li span {
    position: relative;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 4px black;
    top: -3px;
    right: -21px;
    transform: rotate(-41deg);
    display: block;
    font-size: 14px;
}

/* end of bottom keys */

.playing {
    /* box-shadow: 0 0 13px green; */
    cursor: pointer;
}

/* Display Status */
.three-col-outer-layer .left-col .display-stauts {
    /* height: 50px;
    background: darkgrey;
    position: relative;
    padding: 15px; */

}

.three-col-outer-layer .left-col .display-stauts img {
    max-width: 200px;

}

.three-col-outer-layer .left-col .display-stauts p {
    margin: 0;
    bottom: -5px;
    position: absolute;
}

.three-col-outer-layer .left-col .display-stauts p span {
    font-weight: 600;
}

.three-col-outer-layer .left-col .display-stauts p span:not(:first-child) {
    margin-left: 50px;
}



/*============== Center col =================*/


.three-col-outer-layer .center-col .demo-content {
    display: none;
}

.three-col-outer-layer .center-col .demo-content.current {
    display: inherit;
}

.three-col-outer-layer .center-col p {
    color: #000;
}

.three-col-outer-layer .center-col .heading {
    padding: 0 0 15px;
    position: relative;
}

.three-col-outer-layer .center-col .heading:before {
    position: absolute;
    content: '';
    width: 120%;
    left: 0;
    height: 1px;
    background: #000;
    left: -15px;
    bottom: 0;
}

.three-col-outer-layer .center-col .description {
    padding: 20px 0 0;
}

.three-col-outer-layer .center-col .demo-content[data-filter=".step1"] .description,
.three-col-outer-layer .center-col .demo-content[data-filter=".step1"] .btn,
.three-col-outer-layer .center-col .demo-content[data-filter=".step2"] .description,
.three-col-outer-layer .center-col .demo-content[data-filter=".step2"] .btn {
    display: none;
}



.three-col-outer-layer .center-col h4 {
    color: #ffffff;
    font-weight: 500;
    margin: 0;
}

.three-col-outer-layer .center-col button {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.three-col-outer-layer .center-col .btn {
    text-align: center;
    padding-bottom: 56px;
}

.three-col-outer-layer .replay {
    background: #cacaca;
    padding: 16px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    min-height: 56px;
}


.three-col-outer-layer .replay p {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

/* list items */
.three-col-outer-layer .center-col ol {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.three-col-outer-layer .center-col .demo-content[data-filter=".step3"] li:nth-child(n+2),
.three-col-outer-layer .center-col .demo-content[data-filter=".step3"] .btn {
    display: none;
}

/*============== Right col =================*/


.three-col-outer-layer .tabber-sec p,
.three-col-outer-layer .tabber-sec ul li {
    font-weight: 600;
    color: #fff;
}

.three-col-outer-layer .tabber-sec ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.three-col-outer-layer .tabber-sec ul li {
    border-bottom: 1px solid #fff;
    min-height: 36px;
    padding: 10px 10px 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.three-col-outer-layer .tabber-sec ul li:nth-child(4) {
    margin-bottom: 36px;
    position: relative;
}

.three-col-outer-layer .tabber-sec ul li:nth-child(4):before {
    position: absolute;
    content: '';
    border-bottom: 1px solid #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: -37px;
}

.three-col-outer-layer .tabber-sec ul li.current {
    color: rgb(255 255 255 / 0.5);
}