@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,700i,800&display=swap');


/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/




body{
  padding:0;
  font-size: 16px;
  line-height:16px;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  font-family:'Open Sans', sans-serif;
  width:100%;
  background:#ffffff;
  margin:0 auto;
  max-width:100%;
  color: #4b6074;
  font-weight: 400;
}

.row-fluid [class*="span"].wrapper{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  float: none;
  padding: 0 20px;    
}


/*======Heading,Para & List Items Styling=======*/

h1,h2,h3,h4,h5,h6{
  font-family:'Aleo', sans-serif;;
  color: #000000;
  font-weight:bold;
}


h1,h2,h3,h4,h5,h6,p,ul,li,a{
  text-transform:initial;
  margin:0;
  padding:0;
  text-decoration:none;
  margin-bottom:15px;
}

a{
  margin-bottom:0;

}

h1{
  font-size: 62px;
  line-height: 1.23;
  margin-bottom: 15px;
  letter-spacing:normal;
}

h2{
  font-size: 44px;
  line-height: 1.27;
  margin-bottom:20px;
  letter-spacing: 0.2px;
}

h3{
  font-size: 20px;   
  line-height: 1.3;
  letter-spacing: 0.2px;
}

h4{
  font-size:16px;   
  line-height:1.5;
  margin-bottom: 10px;
}

h5{
  font-size: 12px;
  line-height: 1.5;
  letter-spacing:0.6px;
  margin-bottom: 10px;
}

h6{
  font-size: 12px;
  line-height: 18px;
  letter-spacing:.2px;
  margin-bottom: 8px;
}

p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

h4+p{
  margin-top:15px;
}

body img{
  vertical-align: middle;
}



* {
  -webkit-tap-highlight-color: transparent;
}

.header-container-wrapper .row-fluid [class*="span"]{
  min-height:0;
}

body .container-fluid .row-fluid [class*="span"]{
  min-height:0;
}

.body-container-wrapper {
  background:#fff;
  overflow:hidden;
  position:relative;
  z-index:2;
}

.body-container-wrapper ul, .body-container-wrapper ol {
  padding: 0;
  text-decoration: none;
  margin: 20px 0;
}

.body-container-wrapper li{
  font-size: 16px;
  letter-spacing:.2px;
  margin-bottom: 0;
  position:relative;
  margin-left:22px;
}



a{
  color: #20a7fd;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.fa{
  color: #20a7fd ;
}

.section-heading {
  margin-bottom:60px;
}
.section-heading p{
  font-size:20px;
  color:#555361;
  line-height: 1.5; 
  max-width:654px;
  margin:0 auto;
}

.section-padding{
  padding:100px 0px;
}

.big-section-padding{
  padding:230px 0px;
}

.big-section-heading{
  max-width:800px;
  margin:0 auto;
  margin-bottom:60px;
}
.big-section-heading p{
  font-size:20px;
}

/*======Blockquote Styling======*/

blockquote{
  margin: 0;
  font-size: 30px;
  font-weight:bold;
  line-height:1.27;
  color: #000000;
  letter-spacing: -0.46px;
  padding-left: 29px;
  border-left: 2px solid #20a7fd;
  margin-left: 4px;
  margin-top:25px
}



/*========CTA Styling========*/

.widget-type-cta{
  margin-top:15px;
}

body .row-fluid a.cta_button,
body .row-fluid form .hs-button,
body .row-fluid .simple-cta a.cta_button{
  font-size: 14px;
  line-height: 1;
  padding: 17px 37px;
  text-align: center;
  display: inline-block;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  position: relative;
  z-index: 1;
  box-shadow: none;
  color: #fff;
  letter-spacing: .5px;
  background: #20a7fd;
  border: 1px solid #20a7fd;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}

body .row-fluid a.cta_button:before,
body .row-fluid .simple-cta a.cta_button:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
  color: #20a7fd;
}

body .row-fluid a.cta_button:hover,
body .row-fluid .simple-cta a.cta_button:hover{
  color: #20a7fd;
}

body .row-fluid form .hs-button:hover{
  color: #fff;
  background: #177bf4;
  opacity: 1;
  border-color: #177bf4;
}

body .row-fluid a.cta_button:hover:before,
body .row-fluid .simple-cta a.cta_button:hover:before,
body .container-fluid .row-fluid .hs-button:hover:before,
body .row-fluid .transparent-button a.cta_button:hover:before{    
  width: 100%;
}


body .row-fluid .transparent-button a.cta_button{
  color: #000;
  background: transparent;
  border-color: #335b67;
  border-radius:4px;
}

body .row-fluid .transparent-button a.cta_button:before,
body .row-fluid .white-button a.cta_button:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:#20a7fd ;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
  color: #fff;
  border-color:#20a7fd;
}

body .row-fluid .transparent-button a.cta_button:hover,
body .row-fluid .white-button a.cta_button:hover{
  background: #20a7fd;
  border-color: #20a7fd;
  color:#fff;
}



/*============================================
*===============CTA Styling ==================
==============================================*/

/********************************
* White Button Styling
********************************/
body .row-fluid .white-cta a.cta_button{
  border-color: #ffffff;
  color: #20a7fd;
  padding: 17px 50px;
}
body .row-fluid .white-cta a.cta_button:hover{
  color:#ffffff;
  border-color: #ffffff;
  background: transparent;
}

body .row-fluid .white-cta a.cta_button:hover:before {
  width: 0;
}
body .row-fluid .white-cta a.cta_button:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

/*****************************************
* Transparent Button Styling 
*****************************************/
body .row-fluid .transparent-cta a.cta_button{
  background:transparent;
  border-color:#000;
  color:#000;
}
body .row-fluid .transparent-cta a.cta_button:hover{
  background:#20a7fd;
  color:#fff;
  border-color:#20a7fd;
}
body .row-fluid .transparent-cta a.cta_button:before{
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background:#20a7fd;
}
body .row-fluid .transparent-cta a.cta_button:hover:before{
  width:100%;
  background:#20a7fd;
}

/*****************************************
* No Button Styling 
*****************************************/
body .row-fluid .no-cta-style a.cta_button{
  padding: 0px;
  text-decoration: underline;
  background: transparent;
  color:#000000;
  border: 0;
  font-weight:600;
}
body .row-fluid .no-cta-style a.cta_button:hover:before {
  width: 0;
}



/*====End of CTA Styling=====*/



/*======Text Alignment ========*/

.align-center {
  text-align:center;
}

.align-left {
  text-align:left;
}

.align-right {
  text-align:right;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}



/*=======End of Text Alignment=======*/


.overlay{
  position:relative;
  z-index:1;
}

.overlay:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(58, 67, 96, 0.75);
  z-index: -1;
}

body .container-fluid .row-fluid .center-heading{
  margin: 0 auto;
  width: 100%;
  max-width: 660px;
  float: none;
  margin-bottom: 30px;
  text-align:center;
}

body .center-heading h2{
  margin-bottom: 15px;
}

body .center-heading p{
  font-size: 20px;
  line-height: 1.5;
}


/*=====Background Color========*/


.white-bg{
  background:#fff;
}

.light-gray-bg{
  background:#F8FBFF;
}

.black-bg{
  background: #02051e;
}

.dark-grey-bg{
  background: #3f464e;
}

.base-color-bg .fa{
  color:#4a4a4a;
}

.dark-green-bg{
  background: #0d1b09;
}


/*======End of Background Color======*/


/*======List Style Styling========*/

.no-list-style ul{
  list-style: none;
}

.no-list-style li{
  margin:0;    
}

.no-list-style li:before{
  display:none;
}


/*========Text Color with Spacing 0px Styling=====*/

.body-container-wrapper .all-text-white li:before{
  background:#fff;
}

.form-white,
.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white a{
  color:#fff;
}

.body-container-wrapper .all-text-white .fa{
  -webkit-text-fill-color: #fff;
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero h6,
.text-margin-zero .fa,
.text-margin-zero a{
  margin:0;
}

.base-color-text h1,
.base-color-text h2,
.base-color-text h3,
.base-color-text p,
.base-color-text h4,
.base-color-text h5,
.base-color-text h6,
.base-color-text .fa,
.base-color-text a{
  color:#4b6074;
}

/*========End==================*/



/*========Wrapper Size============*/

body .container-fluid .row-fluid .small-wrap{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: block;
  float: none;
}



/*========Basic Section Styling=========*/

.section-bg{
  background-size: cover!important;
  background-position:center center!important;
  background-repeat: no-repeat!important
}

.section-bg .bg-image{
  display:none!important;
}


.slick-slide:focus{
  outline: 0px;
}



/*=======End of Basic Section Styling=======*/




@media (min-width: 768px) {
  .equal-height-container > .row-fluid-wrapper > .row-fluid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }


  body .row-fluid .vertical-center{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
  }


}


@media (max-width:1024px){


  h1 {
    font-size: 50px;
    line-height: 1.3;
  } 

  h2{
    font-size: 36px;
  }

  h4 {
    font-size: 16px;
    line-height: 22px;
  }

  a.cta_button, .hs-button {
    padding: 16px 34px;
  }

  .section-padding {
    padding: 60px 0;
  }

  .big-section-padding{
    padding:140px 0px;
  }

  body .container-fluid .row-fluid .section-heading.align-center {
    margin-bottom: 30px;
  }
  blockquote{
    font-size:25px;
  }

}


@media(max-width: 767px) and (min-width: 500px){

  .row-fluid [class*="span"].wrapper{
    padding: 0px 20px;
  }

}




@media (max-width:767px){

  h1 {
    font-size: 40px;
    line-height: 1.3;
  } 

  h2{
    font-size: 24px;
    line-height: 1.3;
  }

  h3 {
    font-size: 20px;
    line-height: 1.3;
  }

  h4 {
    font-size: 18px;
    line-height: 22px;
  }

  a.cta_button, .hs-button {
    padding: 16px 34px;
    font-size: 18px;
  }

  .row-fluid .jumbo1-home-primary-banner p {
    font-size: 18px;
    line-height: 26px;
  }

  .section-padding{
    padding:45px 0;
  }
  .section-heading p {
    font-size: 16px;
  }

  .big-section-padding{
    padding:80px 0px;
  }

  body .container-fluid .row-fluid .section-heading.align-center{
    margin-bottom: 30px;
  }

  .primary-banner {
    padding: 120px 0 40px;
  }

  .align-left,
  .align-right{
    text-align:center;
  }


  .align_center .heading{
    padding-bottom:30px;
  }


  .pad-btm{
    padding-bottom:30px;
  }
  blockquote{
    font-size:20px;
  }
}



@media(max-width: 480px){

  h1 {
    font-size: 30px;
    line-height: 1.3;
  }

  h2 {
    font-size: 24px;
    line-height: 1.3;
  }


}



/*=========================================================
FORM STYLE
=========================================================*/                

select:invalid {
  color: #989898 !important;
}

::-webkit-input-placeholder {
  color: #989898;
}

:-moz-placeholder {
  color: #989898;
}

::-moz-placeholder {  
  color: #989898;
}

:-ms-input-placeholder {  
  color: #989898;
}

select::-ms-expand {
  display: none;
}

.row-fluid form li{
  margin:0;
}

.row-fluid  form li:before{
  display:none;
}

.hs-error-msgs li label{
  color: #FD2727;
  font-size: 12px;
}

form li:before{
  display:none;
}


.row-fluid  form input,
.row-fluid  form select,
.row-fluid  form textarea{
  height: 50px;
  font-family:'Open Sans', sans-serif;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0;
  margin-bottom: 8px;
  border-radius: 4px;
  background:none;
  padding:10px;
  color: #000;
  font-weight:400;
  border: solid 1px #dadada;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}


.row-fluid  form input:focus,
.row-fluid  form select:focus,
.row-fluid  form textarea:focus{
  outline:0;
  border:1px solid #4b6074;
}

.row-fluid  form textarea{
  height:130px;    
  resize: none;
  overflow:auto;
}

.row-fluid  form .hs_file_upload input,
.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
  height:auto;
  padding:0;
  border:0;
}

.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
  height:auto;
  padding:0;
  border:0;
  margin-bottom:0;
}

.row-fluid form .field>label{
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  font-weight: 400;
  display:block;
  margin-bottom:10px;
  margin-top:14px;
  color:#000;
  font-weight:bold;
}

.row-fluid form .hs-button.primary{
  height: auto;
  margin-top: 24px;
  cursor:pointer;
}

form .hs-error-msgs{
  margin:0;
  padding:0;
}

form .hs-error-msgs li{
  line-height: 1;
  color: red;
  font-weight: 500;
  font-size: 11px;
  position: relative;
  top: -4px;
  letter-spacing: 0.3px;
}

.row-fluid .hs-form fieldset.form-columns-1 .hs-input {
  width: 100%;
}

body .row-fluid .hs-form fieldset {
  max-width: 100%;
}

form .hs-form-required{
  display:none;
}

.body-container-wrapper form ul,
.body-container-wrapper form li{
  margin:0;
  padding:0;
}

.body-container-wrapper form ul,
form ul{
  list-style:none;
}

.body-container-wrapper form li:before{
  display:none;
}

body form .hs-form-checkbox:last-child,
body form .hs-form-radio:last-child,
body form .hs-form-booleancheckbox{
  margin-bottom:20px;
}

body .row-fluid .hs-form fieldset.form-columns-3 .hs-form-field {
  width: 32%;
  margin-right:2%;
}

body .row-fluid .hs-form fieldset.form-columns-2 .hs-form-field {
  width: 49%;
  margin-right:2%;
}

body .row-fluid .hs-form fieldset .hs-form-field:last-child{
  margin-right:0;
}

body .row-fluid .hs-form fieldset.form-columns-2 .input,
body .row-fluid .hs-form fieldset.form-columns-3 .input {
  margin-right:0px;
}

body .container-fluid .row-fluid .hs-form fieldset .field:last-child .input{
  margin-right:0;
}

body .row-fluid select{
  background:  url(//cdn2.hubspot.net/hubfs/2558848/Product-3-Pack/Select%20Arrow%20Small.png) no-repeat;
  background-position: center right;
  -webkit-appearance: none;
}





/*=======================================================
CHECKBOX AND RADIO BUTTONS STYLING
=======================================================*/            

.row-fluid .hs-form .field .input input[type="checkbox"],
.row-fluid .hs-form .field .input  input[type="radio"],
body .row-fluid .checkbox-row input,
body .row-fluid input[type="checkbox"]{
  width:auto;
}

.row-fluid .hs-form .field .input input[type="checkbox"],
.row-fluid .hs-form .field .input  input[type="radio"],
body .row-fluid .checkbox-row input,
body .row-fluid input[type="checkbox"]{
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  margin-left: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #cfd3d7;
  -webkit-appearance: none;
  border: 2px solid #ddd;
  margin-right: 8px;
  top: 2px;
  width: 20px;
  height: 20px;
}

.row-fluid .hs-form .field .input input[type="checkbox"]:checked:after,
body .row-fluid .checkbox-row input:checked:after,
body .row-fluid input[type="checkbox"]:checked:after{
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  top: 3px;
  left: 2px;
  border: 3px solid #4b6074;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}


.row-fluid .hs-form .field .input  input[type="radio"]{
  border-radius: 50%;
}

.row-fluid .hs-form .field .input  input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 3px;
  background: #4b6074;
  left: 3px;
  border-top: 0;
  border-right: 0;
  border-radius: 50%;
}


@media (max-width:480px){


  body form.hs-form .form-columns-2 .hs-form-field .hs-input,body form.hs-form .form-columns-3 .hs-form-field .hs-input{
    width:100%;
  }

  body .row-fluid .hs-form fieldset .input{
    margin:0;
  }

  body .row-fluid .hs-form fieldset.form-columns-3 .hs-form-field {
    width: 100%;
    margin-right: 0;
  }

  body .row-fluid .hs-form fieldset.form-columns-2 .hs-form-field {
    width: 100%;
    margin-right: 0;
  }

  .row-fluid form .hs_submit .actions{
    text-align:center;
  }

}







/*===================================================
Two Col Adjust
===================================================*/    

body .container-fluid .row-fluid .two-col-adjust>span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  -wevkit-flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-right: -2.5%;
}

body .row-fluid .two-col-adjust span>.hs_cos_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: 47.5%;
  -webkit-flex-basis: 47.5%;
  float: left;
  margin-right: 2.43%;
  margin-top: 30px;
  box-sizing:border-box;
  position:relative;
}

@media(max-width: 767px){

  body .container-fluid .row-fluid .two-col-adjust>span {
    display: block;
    margin-right: 0;
  }

  body .row-fluid .two-col-adjust span>.hs_cos_wrapper {
    display: block;
    flex-basis: 100%;
    width:100%;
    -webkit-flex-basis: 100%;
    margin:0;
    margin-top: 20px;
  }       


}






/*==================================================
Three Col Adjust 
==================================================*/

body .container-fluid .row-fluid .three-col-adjust>span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  -wevkit-flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-right: -2.5%;
}

body .row-fluid .three-col-adjust span>.hs_cos_wrapper {
  /*   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; */
  flex-basis: 30.9%;
  -webkit-flex-basis: 30.9%;
  float: left;
  margin-right: 2.43%;
  margin-top: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
}

@media (max-width:767px){


  body .container-fluid .row-fluid .three-col-adjust>span {
    display: block;
    margin-right: 0;
  }

  body .row-fluid .three-col-adjust span>.hs_cos_wrapper {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    max-width: 379px;
    width: 100%;
    margin: 30px auto 0;
    float: none;
  }   
}









/*==================================================
Four Col Adjust 
==================================================*/

body .container-fluid .row-fluid .four-col-adjust>span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  -wevkit-flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-right: -2.565%;
}

body .row-fluid .four-col-adjust span>.hs_cos_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: 22.5%;
  -webkit-flex-basis: 22.5%;
  float: left;
  margin-right: 2.5%;
  margin-top: 2.43%;
  box-sizing:border-box;
  position:relative;
}

@media (max-width:767px){

  body .container-fluid .row-fluid .four-col-adjust>span {
    display: block;
    margin-right: 0;
  }

  body .row-fluid .four-col-adjust span>.hs_cos_wrapper {
    display: block;
    flex-basis: 100%;
    width:100%;
    -webkit-flex-basis: 100%;
    margin:0;
    margin-top: 20px;
  }   


}


/* .hero-effect.bg-color{
background-image:none!important;
}
.hero-effect.bg-img{
background-color:transparent!important;
} */

.centered-image{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media(max-width:767px){
  .change-on-mobile>.row-fluid-wrapper>.row-fluid{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -ms-flex-direction:column-reverse;
    flex-direction:column-reverse;
  }
}



/*==================================================
* Header Section Styling
* =================================================*/

body .row-fluid .header-section{
  padding: 25px 0px;
}
.header-section .widget-type-cta {
  margin-top: 0px;
}

.header-section .header-cta a.cta_button{
  font-size:14px;
  line-height:1.86;
  padding:7px 20px 8px;
  /*   background:transparent;
  color:#000000;
  border-color:#000000; */
}

body .row-fluid .header-section .white-cta a.cta_button{
  padding: 7px 20px;
}

body .row-fluid .header-section .simple-cta a.cta_button {
  padding: 12px 15px;
  font-size: 14px;
}



@media(max-width:1200px) and (min-width:768px){

  .hs-menu-wrapper.hs-menu-flow-horizontal > ul>li.hs-item-has-children:last-child>ul.hs-menu-children-wrapper{
    left:-125px;        
  }
  .row-fluid .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul>li>a{
    font-size:16px;
  }

}

@media (min-width:768px){

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal > ul>li>a{
    font-family: 'Open Sans', sans-serif;
    color: #4b6074;
    font-weight:400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: normal;
    padding: 10px 17px;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper{
    border-top:3px solid #000000;
  }
  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li li{
    margin-bottom:0px;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    line-height: 0;
    margin-bottom:0px;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.hs-item-has-children>a{
    position:relative;
    margin-right:12px;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children>a:before{
    position: absolute;
    content: '\f107';
    font-family:FontAwesome;
    top: 3px;
    bottom: 0;
    right: 12px;
    font-size: 14px;
    color:#000000;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.hs-item-has-children>a:before{
    right:-4px;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1:hover a,
  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.active a,
  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>a:before{
    color:#20a7fd;
  }


  .header-section .hs-menu-wrapper {
    line-height: 0;
    text-align: right;
    float:none;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a{
    font-size: 14px;
    padding: 12px 24px 12px 15px;
    line-height: 1;
    color: #000000;
    text-align: left;
    border: 1px solid rgba(18, 18, 50, 0.11);
    background: #fff;
    border-top: 0;
    font-weight: 400;
    transition:all .2s ease-in-out;
    min-width: 140px;
    -webkit-transition:all .2s ease-in-out;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:before{
    color:#000000;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li:hover a:before{
    color:#000000;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:hover{
    color:#20a7fd;
    text-indent:2px;
  }

  .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: 100%;
    top: 0;
  }

}




@media (min-width:768px) and (max-width:1024px){
  body .row-fluid .header-section .hs-menu-wrapper.hs-menu-flow-horizontal>ul>li>a {
    font-size: 12px;
    padding: 16px 6px;
  }
  .row-fluid .header-section .header-cta a.cta_button{
    font-size: 12px;
    padding: 7px 15px 8px;
    line-height:normal;
  }
}


@media (max-width:767px){

  body .row-fluid .header-section {
    padding: 15px 0px;
  }
  .header-section .widget-type-cta{
    clear:both;
  }
  body .row-fluid .header-section .header-cta a.cta_button{
    display:block;
    background:#20a7fd!important;
    border-color:#20a7fd;
    color:#fff;
    width:auto;
  }
  .header-section .header-cta a.cta_button:before {
    display: none;
  }
}








/* ==========================================================================
Custom Menu Primary
========================================================================== */






/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
  .custom-menu-primary .hs-menu-wrapper { 
    display:block !important;
  }
}




/* ==========================================================================
Mobile Menu - Hubspot Standard Toggle Menu
========================================================================== */


/**
* Special Note
*
* When the menu is open, a class of .mobile-open is applied to the body. You can 
* use this for custom styling on any element when the menu is in the open position.                     
*/

.mobile-trigger, .child-trigger{
  display: none; /* Hide button on Desktop */
}

@media (max-width: 767px){


  /* Variables
  ========================================================================== */



  /* 
  * Menu Reset
  *
  * Remove styling from desktop version of custom-menu-primary. Place any 
  * additional CSS you want removed from the mobile menu in this reset 
  */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:#000000;
  }


  /* Toggle Button
  ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 0px;          /* Position Button at right of screen  */
    right: 10px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */      
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
    border: 1px solid #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff; 
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color:#000000;
    background-color: #ffffff; 
    border-color: transparent;
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color:#000000;
    background-color: #ffffff; 
    border-color: transparent;
  }


  /* Toggle Button Icon
  ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i,
  .mobile-trigger i:before,
  .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #ffffff; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    top: -6px; /* Position top line */
  }
  .mobile-trigger i:after{
    top: 6px; /* Position bottom line */
  }

  .mobile-trigger:hover i,
  .mobile-trigger:hover i:before,
  .mobile-trigger:hover i:after,  
  .mobile-open .mobile-trigger i,
  .mobile-open .mobile-trigger i:before,
  .mobile-open .mobile-trigger i:after{
    background-color: #000000; /* Icon color */
  }


  /* Child Toggle Button
  ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:#000000; /* Icon color */
    display: block;

  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
  }


  /* Menu Styles on Mobile Devices
  ========================================================================== */  

  .custom-menu-primary.js-enabled{
    position: relative;
    padding-top: 44px; /* Makes room for button */
    margin: 10px 0 10px 0;
  }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color:#ffffff; /* Menu background color set off global menuColorMobile variable */
    width: 100%; /* Full screen width */
  }

  /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 10px;
    color:#000000; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:#000000; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
  .header-section script{
    display:none;
  }
}









/*============================================================
HEADER Mobile Responsive
===========================================================*/

@media (max-width:767px){

  .custom-menu-primary .hs-menu-wrapper{    
    display:none;
  }

  .header-section .mobile-trigger {
    border: 0;
    top: 0;
    right: 14px;    
    background:transparent;
  }

  .header-section .mobile-trigger i,
  .header-section .mobile-trigger i:before,
  .header-section .mobile-trigger i:after {
    width:30px;
    background:#363347;
    height:4px;
  }

  .mobile-trigger i:before {
    top: -8px;
  }

  .mobile-trigger i:after {
    top: 8px;
  }

  .header-section .mobile-trigger {
    top: 17px;
    right: 8px;
  }

  .mobile-open .header-section .mobile-trigger ,
  .header-section .mobile-trigger {
    background-color: transparent;
    z-index:15;
  }

  .header-section .mobile-trigger:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
  }

  .header-section .mobile-trigger:hover i,
  .header-section .mobile-trigger:hover i:before, 
  .header-section .mobile-trigger:hover i:after,
  .header-section .mobile-open .mobile-trigger i,
  .header-section .mobile-open .mobile-trigger i:before,
  .header-section.mobile-open .mobile-trigger i:after {
    background-color: #363347;
  }

  .mobile-trigger i{
    transition: all .5s ease-in;
  }

  .mobile-open .header-section .mobile-trigger i{
    background:transparent;
    transition: all .1s ease-in;
  }

  .mobile-trigger i:before,
  .mobile-trigger i:after{
    transition: all .3s ease-in;
  }

  .mobile-open .header-section .mobile-trigger i:before {
    top: 0;
    transform: rotate(45deg);
    background:#363347;
  }

  .mobile-open .header-section .mobile-trigger i:after{
    top: 0;
    transform: rotate(-45deg);
    background:#363347;
  }

  .custom-menu-primary.js-enabled{
    position: absolute;
    padding-top: 0;
    margin: 10px 0 10px 0;
    left: 0;
    right: 0;
    top: 0;
    margin:0;
  }

  body .header-container-wrapper .header-section .logo{
    max-width:190px;
    float:left;
    margin-top:0;
    margin-left:20px;
  }

  .custom-menu-primary .hs-menu-wrapper>ul li {
    border-top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }

  .child-trigger i, .child-trigger i:after {
    background-color: #000;
  }

  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    margin: 0;
    z-index: 1;
    box-shadow: 0px 0px 1px #1d1d1d;
    padding: 10px 0px 0px 0px;
    z-index: 11;
    top: 67px;
    box-sizing: border-box;
  }

  body .header-container-wrapper .header-section ul>li{
    border:0;
    background:transparent;
  }

  .custom-menu-primary .hs-menu-wrapper>ul>li a {
    font-size: 14px;
    padding:0 20px;
    color:#000;
    font-weight: 500;
  }

  .custom-menu-primary .hs-menu-wrapper>ul>li a:hover{
    color:#000;
  }

  body .row-fluid .custom-menu-primary .hs-menu-wrapper>ul ul li a {
    font-size: 14px;
    text-indent:0;
  }

  .child-trigger {
    border-left: 0;
  }

  body .row-fluid .header-section .custom-menu-primary .hs-menu-wrapper>ul li.hs-menu-depth-1 .hs-menu-children-wrapper {
    padding: 0 0 0 15px;
    position: relative !important;
    left: 0 !important;
  }

  .header-section .custom-menu-primary .hs-menu-wrapper>ul li.hs-menu-depth-1 .hs-menu-children-wrapper:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 12px;
    top: 10px;
    width: 1px;
    background: rgba(0, 0, 0, 0.33);
  }

  .header-section .head-cta a.cta_button{
    display:none;
  }

  body .row-fluid .header-section .contact-info {
    display:none;
  }

  body .row-fluid .header-section .header-logo {
    width: 160px;
    float: left;   
    text-align:left;
  }

  .header-section {
    padding:12px 0;
  }

}

/****************** END Header Mobile Responsive *******************/









/*=====================================================
* Footer Section Styling
* ====================================================*/

.footer-section{}


/*========Top Module Styling=======*/

.footer-section .top-foot-module{
  padding: 106px 0px;
}

.footer-section .head-text{
  margin-bottom: 18px;
}

/*=Col One Styling=*/
.footer-section .footer-logo{
  margin-bottom:7px;
}

.footer-section .top-foot-module .foot-col-one .foot-logo{
  max-width: 200px;
}

.footer-section .top-foot-module .foot-col-one .bottom-text{
  margin-top: 20px;
  max-width:255px;
}

.footer-section .social-media-icons{
  margin-top: 45px;
}

.footer-section .social-media-icons ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.footer-section .social-media-icons ul li{
  padding: 0px;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0px 9px 15px;
}

.footer-section .social-media-icons ul li:first-child{
  margin-left: 0px;
}

.footer-section .social-media-icons ul li>a{
  width: 35px;
  height: 35px;
  display: block;
  color: #20a7fd;
  background: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 2;
}

/* ============= Footer socia Icon styling ===================*/

.top-foot-module .social-icons .icons{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 42px;
}
.top-foot-module .social-icons .icons li{
  display: inline-block;
  margin: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.top-foot-module .social-icons .icons li:not(:first-child){
  margin-left: 18px;
}
.top-foot-module .social-icons .icons li:hover{
  background: #20a7fd;
  border: 1px solid #20a7fd;
}
.top-foot-module .social-icons .icons li:hover i{
  color: #fff;
}
.top-foot-module .social-icons .icons li i{
  color: #20a7fd;
  font-size: 19px;
  line-height: 35px;
}
@media (max-width: 767px){

  .top-foot-module .social-icons .icons {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 13px;
  }
}

/* =============End of Footer Socia Icon styling ===================*/

.footer-section .top-foot-module .foot-col-four p>a:hover{
  color: #20a7fd;
}

/*=Footer Menu Styling=*/

.footer-section .top-foot-module .foot-menu{}

.footer-section .top-foot-module .foot-menu ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.footer-section .top-foot-module .foot-menu ul li{
  padding: 0px;
  margin: 0px;
  display: block;
}

.footer-section .top-foot-module .foot-menu ul li>a{
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.5px;
  padding: 0px;
  margin-bottom: 10px;
}

.footer-section .top-foot-module .foot-menu ul li>a:hover{
  color: #20a7fd
}


/*=========Bottom Module Styling==========*/

.footer-section .bottom-foot-module{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0px;
}

.footer-section .bottom-foot-module p{
  margin: 0px;
}
.footer-section .head-text h5{
  font-size: 18px;
  font-weight: 500;
}



@media(min-width:768px) and (max-width:1024px){
  .footer-section .top-foot-module .foot-menu ul li>a {
    font-size: 14px;
  }
  .foot-col-four p,
  .foot-col-one p{
    font-size: 14px;
  }
}

@media(min-width:768px){
  body .row-fluid .foot-col-one {
    width: 26.076923%;
  }

  body .row-fluid .foot-col-two.foot-menu {
    width: 19.076923%;
  }
}


@media(max-width:767px){

  .footer-section .top-foot-module {
    padding: 66px 0px 40px;
  }
  .foot-col-two.foot-menu {
    margin: 25px 0px;
  }
  .foot-col-four {
    margin-top: 25px;
  }
  .footer-section .top-foot-module .foot-menu ul li>a,
  .foot-col-four p{
    font-size: 14px;
  }
  .footer-section .social-media-icons {
    margin-top: 30px;
  }
  .footer-section .top-foot-module .foot-col-one{
    padding-top:0px;
  }
}


/*================================
* CUSTOM HERO SECTION
=================================*/
.hero_section_heading{
  max-width:875px;
  margin:0 auto;
}

.hero_section_heading p{
  font-size:18px;
}

.cta-top-spacing{
  margin-top:35px;
}

/*=========Hero WD 29 ===========*/

.hero_section_heading .img-module{
  margin-bottom:20px;
}
.hero_section_heading .img-module img{
  height:60px;
  width:60px;
}

/*==========================Logo List =======================*/

.about-logo-cm{
  padding:55px 0px 20px;
}
.about-logo-cm .logo-list{
  list-style:none;
  margin:0px;
  text-align:center;
}
.about-logo-cm ul li {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  margin-right: 40px;
  margin-left:40px;
  margin-bottom: 20px;
}
.about-logo-cm ul li img{
  max-width: 155px!important;
}
@media (max-width:1024px){
  .about-logo-cm{
    padding:30px 0px 20px;
  }
  .about-logo-cm ul li {
    margin-right: 15px;
    margin-left:15px;
  }
}

/** content-section-wd-1 **/
.section-wd-1-image.section-bg {
  max-width: 74px;
  width: 100%;
  min-height: 74px;
  height: auto;
  margin-bottom: 20px;
  background-size: contain !important;
}
body .row-fluid .content-section-wd-1 .two-col-adjust span>.hs_cos_wrapper {
  display: block;
  flex-basis: 43.2%;
  margin-right: 9.3%;
  margin-top:40px;
}
.section-wd-1-card h3 {
  padding-bottom: 3px;
}
.content-section-wd-1-left-col p {
  padding: 13px 0px 17px 0px ;
}
body .row-fluid .content-section-wd-1-right-col.span6 {

  margin-left: 6%;
}
body .row-fluid .content-section-wd-1 .two-col-adjust span>.hs_cos_wrapper:nth-child(2n){
  margin-right:0%;
}
@media(min-width:768px){
  .content-section-wd-1 .reverse-order{
    flex-direction:row-reverse;
  }
  .content-section-wd-1 .reverse-order .content-section-wd-1-right-col.span6 {
    margin-left:0;
    margin-right: 6%;
  }
  .content-section-wd-1 .reverse-order .content-section-wd-1-left-col{
    display: flex;
    display: -webkit-flex;
    justify-content: center; 
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    justify-content: flex-end;
  }
}

@media(max-width:767px){
  body .row-fluid .content-section-wd-1-left-col.span6,body .row-fluid .content-section-wd-1-right-col.span6{
    text-align:center;
    padding-top:30px;
  }
  body .row-fluid .content-section-wd-1-right-col.span6{
    margin-left:0%;
  }
  .section-wd-1-image.section-bg{
    margin: 0 auto 15px;
  }
  .section-wd-1-card p {
    max-width: 450px;
    width:100%;
    margin: 0 auto;
  }
  body .row-fluid .content-section-wd-1 .two-col-adjust span>.hs_cos_wrapper{
    margin-right:0%;
    margin-top:30px;
  }
  .section-wd-1-card h3 {
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  .content-section-wd-1-left-col img{
    width:100%;
  }
}
/** content-section-wd-1 end **/



/*==================================================
*   Service Feature Section
* ===============================================*/

.lp-2020-three-column  .row-fluid .two-col-adjust span>.hs_cos_wrapper{
  justify-content:center;
  text-align:center;
}

.lp-2020 .lp-2020-three-column{
  padding:100px 0px 20px;
}
body .row-fluid .lp-2020-three-column .three-column-heading {
  padding: 0;
}
.lp-2020-three-column .three-column-heading{
  max-width:654px;
}
.lp-2020-three-column .three-column-heading p{
  font-size:18px;
}

.lp-2020-three-column .show-more-cta{
  padding-top:40px;
}
.lp-2020-three-column .show-more-cta a.cta_button{
  padding:15px 53px;
}

body .row-fluid .lp-2020-three-column .service-feature .inner-sec{
  padding: 30px 30px 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  flex-direction:column;
  margin-top:30px;
}
body .row-fluid .lp-2020-three-column .service-feature .inner-sec:hover{
  box-shadow: 2px 2px 40px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}



/** slider-lptwo-outer **/
body .row-fluid .stories-slider-lptwo ul.slick-dots li:first-child,.stories-slider-lptwo .slick-dots li{
  margin-left:0px;
}
.ceo-profile h4{
  text-transform:capitalize;

}
.ceo-profile h4{
  margin-bottom:0px
}
.ceo-profile p{
  margin-top:4px; 
}
.story-slider-heading h2{
  text-transform:capitalize;
}
.story-slider-heading p{
  max-width:654px;
  width:100%;
  margin:0 auto;
  font-style:italic;
  font-size:18px;
}
.stories-slider-lptwo {
  padding-top:60px;
}
.stories-slider-lptwo .slick-dots li.slick-active button{
  background-color:#20a7fd;
}
.profile-slider {
  position: relative;
  position: relative;
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
}
.stories-diec-slider {
  max-width: 862px;
  width: 100%;
  text-align: center;
  margin: 40px auto 0px auto;
}
body .row-fluid .stories-slider-lptwo .slider-lptwo .profile-slider .slider-lp-two-image {
  border-radius: 100%;
  max-width: 73px;
  width: 100%;
  min-height: 73px;
  text-align: center;
}
body .row-fluid .stories-slider-lptwo ul.slick-dots li {
  list-style: none;
  display: inline;
}
body .stories-slider-lptwo .slick-dots li button{
  font-size: 0px;
  color: #e1e6ea;
  padding: 0;
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #e1e6ea;
  outline:none;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 0px 5px;

}
.stories-slider-lptwo  .slick-dots{
  bottom:-49px;
}

.stories-slider-lptwo .slick-prev:before,.stories-slider-lptwo .slick-next:before{
  color: #000;
  background: #fff;
  font-size:20px;
  font-weight:bold;
  font-family: "FontAwesome";
  content: "\f053";
}
.stories-slider-lptwo .slick-next:before{
  content: "\f054";
}
.stories-slider-lptwo .slick-dots{
  text-align:center;
}
.stories-slider-lptwo .slick-dots li {
  outline:none;
}

@media(max-width:767px){
  body .row-fluid .stories-slider-lptwo .slider-lptwo .profile-slider img{
    margin:0 auto
  }
  body .row-fluid .stories-slider-lptwo .slider-lptwo .profile-slider .slider-lp-two-image {
    margin:0 auto;
  }
  body .row-fluid .lp-2020-three-column .service-feature .inner-sec{
    margin-top:0;
    padding: 20;
  }
}
@media (min-width: 768px){
  .ceo-profile {
    position: absolute;
    left: 38%;
    top:19%;
  }
}

@media(max-width:767px){
  .ceo-profile{
    margin-top:15px;
    text-align:center;
  }
  body .row-fluid .stories-slider-lptwo .slider-lptwo .profile-slider img{
    margin:0 auto;
  }
  .stories-slider-lptwo {
    padding-top: 30px;
  }
  .story-slider-heading p{
    font-size:16px;
  }
}
/** slider-lptwo-outer-end **/

/*==================================================
*  Contact US Form Styling
* ===============================================*/

/* .fomr-wd-5-left-col.span6{
padding: 89px 54px 68px;
} */
.form-contact-us-wd-5  p{
  font-size:18px;
}
.contact-details-wd-5 .address-box{
  padding-top:20px;
}
.fomr-wd-5-right-col.span6 .contact-details-wd-5 p span,.contact-details-wd-11 p span {
  display: block;
}
.contact-details-wd-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.contact-details-wd-5 a{
  text-decoration:underline;
  color:#4b6074;
  display:block;
  margin-bottom:10px;
  font-size:18px;
}
@media(min-width:768px){
  body .row-fluid .form-contact-us-wd-5 .span6 {
    width: 44.12%;
  }
  body .row-fluid .fomr-wd-5-right-col.span6 {
    margin-left: 11.7%;
    margin-top:20px;
  }
}
@media(max-width:767px){
  .fomr-wd-5-right-col.span6 {
    text-align: center;
  } 
  .fomr-wd-5-right-col.span6 {
    padding-top: 25px;
  }
  .contact-details-wd-5-wd-5 {
    padding-bottom: 14px;
  }
  .fomr-wd-5-right-col.span6 .contact-details-wd-5-wd-5 p span:nth-child(2) {
    padding-bottom: 12px;
  }
  .contact-details-wd-5 {
    padding-bottom: 15px;
  } 
  .contact-details-wd-5 h3{
    margin-bottom: 5px;
  }
  .form-contact-us-wd-5  p{
    font-size:16px;
  }
}

@media(max-width:425px){
  body .row-fluid .fomr-wd-5-left-col.span6 .hs_submit.hs-submit .actions {
    text-align:center;
  }
}
@media(min-width:850px) {
  body .row-fluid .fomr-wd-5-left-col.span6 form .hs_submit.hs-submit {
    padding-top: 7px;
  }  
}
@media(max-width:850px){
  .fomr-wd-5-left-col.span6 {
    padding: 20px;
  }
}
/****************************Three Column*******************************/

.lp-2020-three-column a.wow-design-link{
  color: #3c80ff;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  display: block;
  padding-top: 20px;
}

.lp-2020-three-column a.wow-design-link span{
  text-decoration:underline; 
}

.lp-2020-three-column .three-column-heading{
  max-width: 766px;
  margin: 0 auto;
  padding-bottom: 13px;
}
.lp-2020-three-column .three-column-heading h2 {
  margin-bottom: 17px;
}

.lp-2020-three-column .three-column-icon{
  padding-bottom:24px;
  max-width:80px;
  margin:0 auto;
}

.lp-2020-three-column h5{
  font-weight:700;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family: 'Aleo', sans-serif;;
  margin-bottom:7px;
}

.lp-2020-three-column .hs_cos_wrapper h4{ 
  max-width: 300px;
  margin: 0 auto;
}

.lp-2020-three-column .three-column-icon:hover{
  transition: all .6s ease;
}

.lp-2020-three-column .three-column-icon{
  transition: all .6s ease;
}

.lp-2020-three-column {
  padding:100px 0px;
}

@media (min-width:1025px){
  .lp-2020-three-column  .two-col-adjust {
    max-width:1010px;
    margin:0 auto;
  }
  .lp-2020-three-column  .two-col-adjust .three-column-content{
    max-width: 359px;
  }
}

@media(max-width:767px){
  .lp-2020-three-column {
    padding-bottom: 40px;
    padding-top: 50px;
  } 

  .lp-2020-sec-one h4 {
    text-align: center;
  }
}
.about-logo-cm .title {
  margin-bottom: 40px
}

/******************************************************************************/
