$primrary-heading: #000a1a;
$black: #000;
$white: #fff;
$header_BG: #fff;
$orange: #fe6c3e;
$primary-btn: #2072ef;
$primary-btn-hover: #2072ef;

$secondary-btn: #000a1a;
$footer-bg: #2072ef;
$theme-color: #2072ef;

// $primrary-heading: #000a1a;
// $black: #000;
// $white: #fff;
// $primary-btn: #28abff;
// $primary-btn-hover: rgb(0, 107, 204);

// $secondary-btn: #000a1a;
// $footer-bg: rgb(247, 248, 250);
// $theme-color: #001129;
