@import '../../assets/styles/variables';

:root {
    --green-light: hsl(123deg, 47%, 74%);
    --green-dark: #2e7f32;
    --blue-light: hsl(210deg, 47%, 74%);
    --blue-dark: #2e577f;
    --orange-light: hsl(34deg, 93%, 77%);
    --orange-dark: #b66a07;
    --purple-light: hsl(231deg, 44%, 76%);
    --purple-dark: #334084;
    --yellow-light: hsl(54deg, 76%, 79%);
    --yellow-dark: #afa018;
    --brown-light: hsl(20deg, 41%, 69%);
    --brown-dark: #68402c;
    --red-light: hsl(0deg, 59%, 76%);
    --red-dark: #922626;
    --pink-light: hsl(295deg, 42%, 72%);
    --pink-dark: #6e2f74;
    --white-light: hsl(0deg, 0%, 100%);
    --white-dark: #999999;
}

.typewritter {
    margin-top: 1.5rem;

    span {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.2;
        color: $orange;
    }
}

.orbit {
    --size: 10rem;
    --speed: 50s;

    .center-image {
        width: var(--size) !important;
        position: relative;
        z-index: 8;

        img {
            position: absolute;
            transition: opacity 500ms;
            width: inherit;
            margin: 0 auto;
            display: block;

            &:not(:first-child):hover {
                opacity: 0;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        display: grid;
        place-items: center;
        width: var(--size);
        height: var(--size);
        position: relative;
        list-style: none;
        --icon-bg: hsl(123, 47%, 74%);
        --text-bg: hsl(123, 47%, 74%);
        transform-origin: center;
        animation: orbit var(--speed) linear infinite;

        &:hover {
             animation-play-state: paused;
            --orbit-play-state: paused;
        }
    }

    li {
        --icon-bg: pink;
        --text-bg: blue;

        position: absolute;
        width: 7rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        font-weight: 500;
        color: hsl(0, 0%, 100%);
        text-align: center;
        line-height: 1;
        display: grid;
        place-items: center;

        &:hover {
            --throb-play-state: paused;
        }

        @for $i from 0 through 7 {
            &:nth-child(#{$i + 1}) {
                --throb-delay: #{500ms * $i};
            }
        }

        &>* {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            border-radius: inherit;

            position: absolute;
            animation: orbit var(--speed) linear reverse infinite,
                throb 1s var(--throb-delay) ease-in-out infinite alternate;
            animation-play-state: var(--orbit-play-state, running),
                var(--throb-play-state, running);
        }

        >div {
            background-color: var(--icon-bg);
        }

        >p {
            background: var(--text-bg);
            transition: opacity 500ms;
            opacity: 0;
            margin-bottom: 0 !important;
            font-size: 1rem !important;
            padding: 10px;
        }

        &:hover>p {
            opacity: 1;
        }

        .imgWidth {
            max-width: 56px !important;
        }
        .mobileImg {
            max-width: 80px !important;
        }
    }

    li:nth-child(1) {
        --icon-bg: var(--blue-light);
        --text-bg: var(--blue-dark);
        transform: translate(14rem, 0rem);
    }

    li:nth-child(2) {
        --icon-bg: var(--green-light);
        --text-bg: var(--green-dark);
        transform: translate(9rem, 9rem);
    }

    li:nth-child(3) {
        --icon-bg: var(--pink-light);
        --text-bg: var(--pink-dark);
        transform: translate(0, 14rem);
    }

    li:nth-child(4) {
        --icon-bg: var(--red-light);
        --text-bg: var(--red-dark);
        transform: translate(-9rem, 9rem);
    }

    li:nth-child(5) {
        --icon-bg: var(--brown-light);
        --text-bg: var(--brown-dark);
        transform: translate(-14rem, 0rem);
    }

    li:nth-child(6) {
        --icon-bg: var(--yellow-light);
        --text-bg: var(--yellow-dark);
        transform: translate(-9rem, -9rem);
    }

    li:nth-child(7) {
        --icon-bg: var(--purple-light);
        --text-bg: var(--purple-dark);
        transform: translate(0, -14rem);
    }

    li:nth-child(8) {
        --icon-bg: var(--orange-light);
        --text-bg: var(--orange-dark);
        transform: translate(9rem, -9rem);
    }
}

@keyframes orbit {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hold-position {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes throb {
    100% {
        scale: 1;
    }
}

@media (min-width: 768px) {

    .orbit {
        position: relative;
    }

}

@media (min-width: 1025px) {
    .bannerSection {
        margin: 173px 0 !important;
    }
    .orbit {
        left: calc(100% - 26.6rem);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .bannerSection {
        margin: 113px 0 !important;
    }
    .orbit{
        transform: scale(0.8);
        right: -61px;
    }
}

@media (max-width: 991px) {
    .typewritter {
        span {
            font-size: 2.4rem;
        }
    }
}

@media (max-width: 767px) {
    .bannerSection {
        text-align: center !important;
    }
    .rightCol{
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 80px 0 40px!important;
    }
    .typewritter {
        span {
            font-size: 1.6rem;
        }
    }
    .orbit{
        transform: scale(0.5);
    }

}